/*
 Theme Name:   Thème enfant de Clima
 Template:     clima
 Version:      1.0.0
 /
*/


@font-face {
   font-family: "Bantayog";
   src: local("Bantayog Regular"), 
     url("font/Bantayog-Regular.woff2");
   font-weight: normal;
 }


 .header-container .horizontal-menu > .mega_main_menu > .menu_holder .menu_inner > ul > li > a.item_link .link_text{
   font-family: Bantayog !important;
   font-size: 15px !important;
}
h1,h2,h3,h4,h5,h6{
   font-family: Bantayog !important;
}

 .archive .shop_content-inner #secondary.order-lg-first{
    order: -1 !important;
 }

 .woocommerce-result-count{
    display:none;
 }

 .shop-products .product-wrapper .price-box del {
    text-decoration: none !important;
    font-weight: 400;
    display: block;
 }

 .shop-products .product-wrapper .price-box del::before {
    content:'Prix neuf : ';
    display:inline-block;
    font-weight: 400;
    padding: 0 .5em .5em 0;
 }

.entry-summary.single-product-info .price del{
    text-decoration: none !important;
    font-weight: 400;
    font-size:14px;
}

.entry-summary.single-product-info .price del::before {
    content:'Prix neuf : ';
    display:inline-block;
    font-weight: 400;
    font-size:14px;
 }
